:root {
  /* fonts */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'EB Garamond', sans-serif;

  /* colors */
  --color-black: #131313;
  --color-yellow: #FEE42A;
  --color-gray: #343434;
  --color-red: #F83C33;
  --color-gray-light: #CCCCCC;
}

* {
  font-family: var(--font-primary);
  font-size: 16px;
  /* border: 1px solid var(--color-yellow); */
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Утилитарные классы ------------------------------------------------------------------ */
.bg-black {
  background-color: var(--color-black);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-gray {
  background-color: var(--color-gray);
}

.light-text {
  color: #f5f5f5;
}

.dark-text {
  color: var(--color-black);
}

.main-text {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
}

.h2 {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 500;
  line-height: 115%;
  text-indent: 76px;
}

.h3 {
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 500;
  line-height: 135%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 32px;
}

.card {
  gap: 8px;
}

/* header ------------------------------------------------------------------ */
.header__inner {
  padding: 24px 20px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

/* hero ------------------------------------------------------------------ */

.hero {
  overflow: hidden;
}

.hero__inner {
  position: relative;
}

.hero__title {
  font-family: var(--font-secondary);
  font-size: 72px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title>span {
  z-index: 99;
}

.hero__title>span:nth-child(1) {
  align-self: start;
}

.hero__title>span:nth-child(3) {
  align-self: end;
}

.circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 1px solid var(--color-yellow);
  border-radius: 50%;
  top: 95px;
  left: 10px;
  z-index: 2;
}

/* HTML: <div class="triangle"></div> */
.triangle {
  --b: 2px;

  height: 130px;
  aspect-ratio: cos(30deg);
  clip-path: polygon(100% 50%, 0 100%, 0 0, 100% 50%, calc(100% - var(--b)) 50%, calc(var(--b) / 2) calc(var(--b)* cos(30deg)), calc(var(--b) / 2) calc(100% - var(--b)* cos(30deg)), calc(100% - var(--b)) 50%);
  background: var(--color-red);
  position: absolute;
  inset: 0;
  top: 45px;
  left: 270px;
  transform: rotate(7deg);
}

/* section intro ------------------------------------------------------------------ */
.intro__inner {
  padding: 30px 20px 37px;
}

.intro__inner,
.intro__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-light);
  line-height: 120%;
  gap: 1rem ;
}

.intro__content {
  line-height: 21.6px;
}

.intro__date {
  white-space: nowrap;
}

/* section barriers ------------------------------------------------------------------ */
.barriers__inner {
  padding: 40px 20px;
}

.barriers__list {
  padding-left: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list__item::marker {
  content: "•";

}

.list__item {
  padding-left: 10px;
}

.list__item>span {
  font-weight: bold;
}

/* section strategies ------------------------------------------------------------------ */
.strategies__inner {
  padding: 45px 20px 88px;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card__image {
  border-radius: 50%;
}

.card__image-description {
  font-weight: bold;
}

/* footer ------------------------------------------------------------------ */
.footer {
  border-top: 1px solid var(--color-yellow);
}

.footer__inner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  display: flex;
  gap: 16px;
}